{% extends "base.html" %}
{% block content %}

<h1 class="p-3">Редактировать письмо</h1>

<form method="POST" class="m-3">

    {% csrf-field %}

    <input type="hidden" name="id" value="{{mail._id}}">

    <h5>
        <label>Заголовок:</label><br>
        <input type="text" name="subject" value="{{mail.subject}}" placeholder="Заголовок письма">
    </h5>

    <h5>
        <label>Текст:</label><br>
        <textarea name="text" placeholder="Текст письма в формате HTML">{{mail.text}}</textarea>
    </h5>

    <button class="btn btn-dark" type="submit" value="Сохранить">Сохранить</button>

</form>

{% endblock %}