{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center m-5">
                {% if base %}
                Создание нового email в "{{ base.name }}"
                {% else %}
                Создание нового email
                {% endif %}
            </h4>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form role="form" method="POST" action="/emails/add">
                {% csrf-field %}
                <div class="form-group">
                    <label for="inputEmail">
                        Email
                    </label>
                    <input type="email" class="form-control" name="email" id="inputEmail" />
                </div>
                <div class="form-group">
                    <label for="inputName">
                        Ф.И.О
                    </label>
                    <input type="text" class="form-control" name="name" id="inputName" />
                </div>
                {% if bases %}
                    <div class="form-group">
                        <label for="inputBase">
                            База
                        </label>
                        <select class="form-control" name="base" id="inputBase">
                            {% for base in bases %}
                            <option value="{{ base._id }}">{{ base.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% else %}
                    <div class="form-group" hidden>
                        <select class="form-control" name="base">
                            <option value="{{ base._id }}">{{ base.name }}</option>
                        </select>
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-info">
                    Добавить
                </button>
            </form>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

{% endblock %}