{% extends "base.html" %}
{% block content %}
<div class="alert alert-info" role="alert">
    <a href="/add" type="button" class="btn btn-info">Добавить рассылку</a>
</div>
{% if mailings %}
<h1 class="p-3">Рассылки</h1>

<div class="container-fluid">
    {% for mailing in mailings %}
        <div class="row mb-4">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 card pt-3">
                <div class="mb-1 pb-2 alert alert-info">
                    {{ mailing.base.name }}
                </div>
                <h2>
                    {{mailing.subject}}
                </h2>
                <p>
                    {{mailing.text}}
                </p>
<!--                <p>-->
<!--                    <a href="/mailing/{{ mailing._id }}">подробнее</a>-->
<!--                </p>-->
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4">
                        <a href="/del/{{ mailing._id }}" type="button" class="btn btn-danger">Удалить рассылку</a>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center m-5">
                Рассылок еще нет
            </h4>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}