{% extends "base.html" %}
{% block content %}

<h1 class="p-3">Письма</h1>

{% if mails %}
<ul class="pr-5">

    <!-- card-columns -->
    <div class="card-columns">
        {% for mail in mails %}
                <a href="/mail/{{mail._id}}" class="card-link">
                    <div class="card m-3">
                        <div class="card-body">
                            <h4 class="card-title">{{mail.subject}}</h4>
                            <h6 class="card-title">{{mail.text}}</h6>
                            <a href="/edit/{{mail._id}}" class="card-link">Редактировать</a>
                            <a href="/delete/{{mail._id}}" class="card-link">Удалить</a>
                        </div>
                    </div>
                </a>
        {% endfor %}
    </div>

</ul>
{% else %}
<strong>Писем еще нет</strong>
{% endif %}

{% endblock %}